.IfcImporter {
  width: 100%;
  height: 100vh;
  position: relative;
}

.file-upload-container {
  margin-top: 10px;
}

#ifc-importer-panel {
  position: fixed;
  top: 20px;
  right: 20px;
  max-width: 350px;
  z-index: 100;
}

.phone-menu-toggler {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

@media (min-width: 768px) {
  .phone-menu-toggler {
    display: none;
  }
}

@media (max-width: 768px) {
  #ifc-importer-panel {
    display: none;
  }

  #ifc-importer-panel.options-menu-visible {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
  }
}

